.App {
  text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background: #FAFAF9;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
} 

a{
  text-decoration: none;
}

.navbar-nav{
  display: flex;
}

.nav-item a{
  font-family: "FoundersGrotesk-Medium";
  font-size:20px;
  font-style: bold;
}